/MyProject/build/
/MyProject/dist/
/Test2/nbproject/private/
/Test2/build/
/PrjPractice1/nbproject/private/
/Q1_DucMT194111/nbproject/private/
/Q1_DucMT194111/build/
/PT1/nbproject/private/
/PT1/build/
/PT1/dist/
/PT2/nbproject/private/
