USE [master]
GO
/****** Object:  Database [P42_AssignmentW10]    Script Date: 11/2/2025 11:05:54 PM ******/
CREATE DATABASE [P42_AssignmentW10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P42_AssignmentW10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\P42_AssignmentW10.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'P42_AssignmentW10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\P42_AssignmentW10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P42_AssignmentW10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P42_AssignmentW10]
GO
/****** Object:  Table [dbo].[Approval_Delegations]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approval_Delegations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from_user_id] [int] NOT NULL,
	[to_user_id] [int] NOT NULL,
	[start_at] [datetime2](7) NOT NULL,
	[end_at] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Approver_Rules]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approver_Rules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from_role] [nvarchar](50) NOT NULL,
	[to_role] [nvarchar](50) NOT NULL,
	[can_approve] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplinary_Actions]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplinary_Actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action_date] [date] NOT NULL,
	[level_code] [varchar](30) NOT NULL,
	[reason] [nvarchar](1000) NULL,
	[decided_by] [int] NULL,
	[related_request_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employment_Statuses]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employment_Statuses](
	[status_code] [varchar](30) NOT NULL,
	[status_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_date] [date] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[is_public] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Titles]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Titles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title_code] [varchar](30) NOT NULL,
	[title_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_paid] [bit] NOT NULL,
	[max_days_year] [int] NULL,
	[require_proof] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[body] [nvarchar](1000) NULL,
	[link_url] [nvarchar](500) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Attachments]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[uploaded_by] [int] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_History]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[action] [nvarchar](30) NOT NULL,
	[note] [nvarchar](4000) NULL,
	[acted_by] [int] NOT NULL,
	[acted_by_name] [nvarchar](255) NOT NULL,
	[acted_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[reason] [nvarchar](1000) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by]  AS ([user_id]),
	[processed_by] [int] NULL,
	[manager_note] [nvarchar](1000) NULL,
	[leave_type_id] [int] NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[approve_note] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[code] [nvarchar](30) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Activity]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action] [varchar](50) NOT NULL,
	[entity_type] [varchar](30) NULL,
	[entity_id] [int] NULL,
	[note] [nvarchar](1000) NULL,
	[ip_addr] [varchar](45) NULL,
	[user_agent] [nvarchar](400) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Contracts]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Contracts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[contract_no] [nvarchar](50) NOT NULL,
	[contract_type] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[base_salary] [decimal](18, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Leave_Balances]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Leave_Balances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[leave_type_id] [int] NOT NULL,
	[year] [int] NOT NULL,
	[entitled_days] [decimal](5, 2) NOT NULL,
	[used_days] [decimal](5, 2) NOT NULL,
	[carried_days] [decimal](5, 2) NOT NULL,
	[last_updated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role_History]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_code] [nvarchar](30) NOT NULL,
	[start_at] [datetime2](7) NOT NULL,
	[end_at] [datetime2](7) NULL,
	[changed_by] [int] NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK_User_Role_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/2/2025 11:05:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[department] [nvarchar](50) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[department_id] [int] NULL,
	[role_id] [int] NULL,
	[avatar_url] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[bio] [nvarchar](500) NULL,
	[employment_status_code] [varchar](30) NULL,
	[job_title_id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Approver_Rules] ON 

INSERT [dbo].[Approver_Rules] ([id], [from_role], [to_role], [can_approve]) VALUES (1, N'STAFF', N'TEAM_LEAD', 1)
INSERT [dbo].[Approver_Rules] ([id], [from_role], [to_role], [can_approve]) VALUES (2, N'TEAM_LEAD', N'DIV_LEAD', 1)
INSERT [dbo].[Approver_Rules] ([id], [from_role], [to_role], [can_approve]) VALUES (3, N'DIV_LEAD', N'HR', 1)
SET IDENTITY_INSERT [dbo].[Approver_Rules] OFF
GO
INSERT [dbo].[Departments] ([code], [name], [is_active], [created_at]) VALUES (N'FIN', N'Finance', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
INSERT [dbo].[Departments] ([code], [name], [is_active], [created_at]) VALUES (N'HR', N'Human Resources', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
INSERT [dbo].[Departments] ([code], [name], [is_active], [created_at]) VALUES (N'IT', N'Information Technology', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
GO
INSERT [dbo].[Employment_Statuses] ([status_code], [status_name], [is_active], [description], [created_at]) VALUES (N'ACTIVE', N'Đang làm việc', 1, NULL, CAST(N'2025-11-02T22:53:27.1343990' AS DateTime2))
INSERT [dbo].[Employment_Statuses] ([status_code], [status_name], [is_active], [description], [created_at]) VALUES (N'INTERN', N'Thực tập', 1, NULL, CAST(N'2025-11-02T22:53:27.1343990' AS DateTime2))
INSERT [dbo].[Employment_Statuses] ([status_code], [status_name], [is_active], [description], [created_at]) VALUES (N'OFFBOARDING', N'Đang bàn giao nghỉ việc', 1, NULL, CAST(N'2025-11-02T22:53:27.1343990' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[LeaveTypes] ON 

INSERT [dbo].[LeaveTypes] ([id], [code], [name], [is_paid], [max_days_year], [require_proof], [is_active], [created_at]) VALUES (1, N'AL', N'Phép năm', 1, 12, 0, 1, CAST(N'2025-10-27T16:14:04.2021033' AS DateTime2))
INSERT [dbo].[LeaveTypes] ([id], [code], [name], [is_paid], [max_days_year], [require_proof], [is_active], [created_at]) VALUES (2, N'SL', N'Nghỉ ốm', 1, 7, 1, 1, CAST(N'2025-10-27T16:14:04.2021033' AS DateTime2))
INSERT [dbo].[LeaveTypes] ([id], [code], [name], [is_paid], [max_days_year], [require_proof], [is_active], [created_at]) VALUES (3, N'UL', N'Nghỉ không lương', 0, NULL, 0, 1, CAST(N'2025-10-27T16:14:04.2021033' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LeaveTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Request_History] ON 

INSERT [dbo].[Request_History] ([id], [request_id], [action], [note], [acted_by], [acted_by_name], [acted_at]) VALUES (1, 1026, N'CREATED', NULL, 7, N'SYSTEM', CAST(N'2025-10-31T09:41:40.5824000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Request_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([id], [user_id], [type], [status], [reason], [start_date], [end_date], [created_at], [updated_at], [processed_by], [manager_note], [leave_type_id], [approved_by], [approved_at], [approve_note]) VALUES (10, 10, N'ANNUAL', N'PENDING', N'Nghỉ phép năm về quê', CAST(N'2025-10-22' AS Date), CAST(N'2025-10-24' AS Date), CAST(N'2025-10-18T11:47:58.9829568' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Requests] ([id], [user_id], [type], [status], [reason], [start_date], [end_date], [created_at], [updated_at], [processed_by], [manager_note], [leave_type_id], [approved_by], [approved_at], [approve_note]) VALUES (11, 11, N'SICK', N'APPROVED', N'Nghỉ ốm có giấy', CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(N'2025-10-18T11:47:59.0002610' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Requests] ([id], [user_id], [type], [status], [reason], [start_date], [end_date], [created_at], [updated_at], [processed_by], [manager_note], [leave_type_id], [approved_by], [approved_at], [approve_note]) VALUES (12, 12, N'UNPAID', N'REJECTED', N'Việc riêng chưa đủ lý do', CAST(N'2025-10-10' AS Date), CAST(N'2025-10-11' AS Date), CAST(N'2025-10-18T11:47:59.0058621' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
INSERT [dbo].[Roles] ([code], [name], [is_active], [created_at]) VALUES (N'ADMIN', N'Administrator', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
INSERT [dbo].[Roles] ([code], [name], [is_active], [created_at]) VALUES (N'DEPT_MANAGER', N'Department Manager', 1, CAST(N'2025-11-02T22:49:09.0000000' AS DateTime2))
INSERT [dbo].[Roles] ([code], [name], [is_active], [created_at]) VALUES (N'DIV_LEADER', N'Division Leader', 1, CAST(N'2025-10-18T11:47:59.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[User_Activity] ON 

INSERT [dbo].[User_Activity] ([id], [user_id], [action], [entity_type], [entity_id], [note], [ip_addr], [user_agent], [created_at]) VALUES (1, 7, N'APPROVE_REQUEST', N'REQUEST', 1023, N'Processed APPROVED', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0', CAST(N'2025-10-30T11:28:06.5308461' AS DateTime2))
INSERT [dbo].[User_Activity] ([id], [user_id], [action], [entity_type], [entity_id], [note], [ip_addr], [user_agent], [created_at]) VALUES (2, 7, N'APPROVE_REQUEST', N'REQUEST', 1022, N'Processed APPROVED', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0', CAST(N'2025-10-30T11:28:15.0872596' AS DateTime2))
INSERT [dbo].[User_Activity] ([id], [user_id], [action], [entity_type], [entity_id], [note], [ip_addr], [user_agent], [created_at]) VALUES (3, 7, N'APPROVE_REQUEST', N'REQUEST', 1021, N'Processed APPROVED', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0', CAST(N'2025-10-30T11:28:53.7323037' AS DateTime2))
SET IDENTITY_INSERT [dbo].[User_Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id], [username], [password], [full_name], [role], [department], [status], [created_at], [updated_at], [email], [phone], [department_id], [role_id], [avatar_url], [address], [birthday], [bio], [employment_status_code], [job_title_id]) VALUES (1, N'admin', N'admin123', N'System Admi', N'ADMIN', N'IT', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2), CAST(N'2025-10-27T11:50:38.0000000' AS DateTime2), N'mtienduc@gmail.com', N'0914659183', NULL, NULL, NULL, N'Cầu Đống', NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([id], [username], [password], [full_name], [role], [department], [status], [created_at], [updated_at], [email], [phone], [department_id], [role_id], [avatar_url], [address], [birthday], [bio], [employment_status_code], [job_title_id]) VALUES (7, N'a.lead', N'123456', N'Mr A', N'DIV_LEADER', N'IT', 1, CAST(N'2025-10-18T11:47:59.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Users] ([id], [username], [password], [full_name], [role], [department], [status], [created_at], [updated_at], [email], [phone], [department_id], [role_id], [avatar_url], [address], [birthday], [bio], [employment_status_code], [job_title_id]) VALUES (8, N'b.lead', N'123456', N'Mr B', N'TEAM_LEAD', N'IT', 1, CAST(N'2025-10-18T11:47:59.0000000' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_Holidays]    Script Date: 11/2/2025 11:05:55 PM ******/
ALTER TABLE [dbo].[Holidays] ADD  CONSTRAINT [UQ_Holidays] UNIQUE NONCLUSTERED 
(
	[holiday_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Job_Titl__83A5B64F6AEE853F]    Script Date: 11/2/2025 11:05:55 PM ******/
ALTER TABLE [dbo].[Job_Titles] ADD UNIQUE NONCLUSTERED 
(
	[title_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_LeaveTypes_Code]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_LeaveTypes_Code] ON [dbo].[LeaveTypes]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_History_req]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_History_req] ON [dbo].[Request_History]
(
	[request_id] ASC,
	[acted_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_dates]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_dates] ON [dbo].[Requests]
(
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_status]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_status] ON [dbo].[Requests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_user]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_user] ON [dbo].[Requests]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Activity_action]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Activity_action] ON [dbo].[User_Activity]
(
	[action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Activity_user_time]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Activity_user_time] ON [dbo].[User_Activity]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ULB]    Script Date: 11/2/2025 11:05:55 PM ******/
ALTER TABLE [dbo].[User_Leave_Balances] ADD  CONSTRAINT [UQ_ULB] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[leave_type_id] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_username]    Script Date: 11/2/2025 11:05:55 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Department]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Department] ON [dbo].[Users]
(
	[department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 11/2/2025 11:05:55 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Approval_Delegations] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Approver_Rules] ADD  DEFAULT ((1)) FOR [can_approve]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Disciplinary_Actions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employment_Statuses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Employment_Statuses] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT ((1)) FOR [is_public]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Titles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Job_Titles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [is_paid]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((0)) FOR [require_proof]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Request_Attachments] ADD  DEFAULT (sysdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Request_History] ADD  DEFAULT (sysdatetime()) FOR [acted_at]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Activity] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Contracts] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT ((0)) FOR [entitled_days]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT ((0)) FOR [used_days]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT ((0)) FOR [carried_days]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT (sysdatetime()) FOR [last_updated]
GO
ALTER TABLE [dbo].[User_Role_History] ADD  CONSTRAINT [DF_User_Role_History_start_at]  DEFAULT (sysdatetime()) FOR [start_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Approval_Delegations]  WITH CHECK ADD  CONSTRAINT [FK_AD_FromUser] FOREIGN KEY([from_user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Approval_Delegations] CHECK CONSTRAINT [FK_AD_FromUser]
GO
ALTER TABLE [dbo].[Approval_Delegations]  WITH CHECK ADD  CONSTRAINT [FK_AD_ToUser] FOREIGN KEY([to_user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Approval_Delegations] CHECK CONSTRAINT [FK_AD_ToUser]
GO
ALTER TABLE [dbo].[Disciplinary_Actions]  WITH CHECK ADD  CONSTRAINT [FK_DA_Decider] FOREIGN KEY([decided_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Disciplinary_Actions] CHECK CONSTRAINT [FK_DA_Decider]
GO
ALTER TABLE [dbo].[Disciplinary_Actions]  WITH CHECK ADD  CONSTRAINT [FK_DA_Request] FOREIGN KEY([related_request_id])
REFERENCES [dbo].[Requests] ([id])
GO
ALTER TABLE [dbo].[Disciplinary_Actions] CHECK CONSTRAINT [FK_DA_Request]
GO
ALTER TABLE [dbo].[Disciplinary_Actions]  WITH CHECK ADD  CONSTRAINT [FK_DA_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Disciplinary_Actions] CHECK CONSTRAINT [FK_DA_User]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Noti_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Noti_User]
GO
ALTER TABLE [dbo].[Request_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_RA_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Requests] ([id])
GO
ALTER TABLE [dbo].[Request_Attachments] CHECK CONSTRAINT [FK_RA_Request]
GO
ALTER TABLE [dbo].[Request_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_RA_User] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Request_Attachments] CHECK CONSTRAINT [FK_RA_User]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_LeaveTypes] FOREIGN KEY([leave_type_id])
REFERENCES [dbo].[LeaveTypes] ([id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_LeaveTypes]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users_ProcessedBy] FOREIGN KEY([processed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users_ProcessedBy]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users_userid]
GO
ALTER TABLE [dbo].[User_Activity]  WITH CHECK ADD  CONSTRAINT [FK_User_Activity_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Activity] CHECK CONSTRAINT [FK_User_Activity_Users]
GO
ALTER TABLE [dbo].[User_Contracts]  WITH CHECK ADD  CONSTRAINT [FK_UC_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Contracts] CHECK CONSTRAINT [FK_UC_User]
GO
ALTER TABLE [dbo].[User_Leave_Balances]  WITH CHECK ADD  CONSTRAINT [FK_ULB_Type] FOREIGN KEY([leave_type_id])
REFERENCES [dbo].[LeaveTypes] ([id])
GO
ALTER TABLE [dbo].[User_Leave_Balances] CHECK CONSTRAINT [FK_ULB_Type]
GO
ALTER TABLE [dbo].[User_Leave_Balances]  WITH CHECK ADD  CONSTRAINT [FK_ULB_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Leave_Balances] CHECK CONSTRAINT [FK_ULB_User]
GO
ALTER TABLE [dbo].[User_Role_History]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_History_ChangedBy] FOREIGN KEY([changed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Role_History] CHECK CONSTRAINT [FK_User_Role_History_ChangedBy]
GO
ALTER TABLE [dbo].[User_Role_History]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_History_Role] FOREIGN KEY([role_code])
REFERENCES [dbo].[Roles] ([code])
GO
ALTER TABLE [dbo].[User_Role_History] CHECK CONSTRAINT [FK_User_Role_History_Role]
GO
ALTER TABLE [dbo].[User_Role_History]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_History_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Role_History] CHECK CONSTRAINT [FK_User_Role_History_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Department] FOREIGN KEY([department])
REFERENCES [dbo].[Departments] ([code])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Department]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_EmploymentStatus] FOREIGN KEY([employment_status_code])
REFERENCES [dbo].[Employment_Statuses] ([status_code])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_EmploymentStatus]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_JobTitles] FOREIGN KEY([job_title_id])
REFERENCES [dbo].[Job_Titles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_JobTitles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Roles] ([code])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Request_History]  WITH CHECK ADD CHECK  (([action]='COMMENT' OR [action]='CANCELLED' OR [action]='REJECTED' OR [action]='APPROVED' OR [action]='UPDATED' OR [action]='CREATED'))
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [CK_Requests_Status] CHECK  (([status]='cancelled' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [CK_Requests_Status]
GO
USE [master]
GO
