USE [master]
GO
/****** Object:  Database [P42_AssignmentW10]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE DATABASE [P42_AssignmentW10]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P42_AssignmentW10', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\P42_AssignmentW10.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'P42_AssignmentW10_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\P42_AssignmentW10_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P42_AssignmentW10].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P42_AssignmentW10]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_get_setting]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3) Hàm lấy nhanh 1 giá trị theo key (dễ gọi trong SELECT)
CREATE   FUNCTION [dbo].[fn_get_setting] (@key VARCHAR(120))
RETURNS NVARCHAR(2000)
AS
BEGIN
    DECLARE @v NVARCHAR(2000);
    SELECT @v = setting_value
    FROM dbo.Sys_Settings
    WHERE setting_key = @key AND is_active = 1;
    RETURN @v;
END
GO
/****** Object:  Table [dbo].[app_events]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[app_events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app_id] [bigint] NOT NULL,
	[actor_id] [bigint] NULL,
	[from_stage] [nvarchar](30) NULL,
	[to_stage] [nvarchar](30) NOT NULL,
	[score] [int] NULL,
	[note] [nvarchar](max) NULL,
	[created_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[application_events]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[application_events](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app_id] [bigint] NOT NULL,
	[event_time] [datetime] NOT NULL,
	[action] [nvarchar](60) NOT NULL,
	[actor_id] [bigint] NULL,
	[data] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[applications]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[applications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[job_id] [bigint] NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[phone] [varchar](30) NULL,
	[cv_url] [varchar](500) NULL,
	[stage] [varchar](20) NOT NULL,
	[score] [int] NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Approval_Delegations]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approval_Delegations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from_user_id] [int] NOT NULL,
	[to_user_id] [int] NOT NULL,
	[start_at] [datetime2](7) NOT NULL,
	[end_at] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Approver_Rules]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Approver_Rules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[from_role] [nvarchar](50) NOT NULL,
	[to_role] [nvarchar](50) NOT NULL,
	[can_approve] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[attendance_records]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[attendance_records](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[work_date] [date] NOT NULL,
	[check_in] [datetime] NULL,
	[check_out] [datetime] NULL,
	[shift_code] [varchar](20) NULL,
	[late_minutes] [int] NULL,
	[early_minutes] [int] NULL,
	[ot_minutes] [int] NULL,
	[status] [varchar](20) NOT NULL,
	[note] [nvarchar](255) NULL,
	[notes] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bonus_deductions]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bonus_deductions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[happen_date] [date] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[reason] [nvarchar](255) NULL,
	[created_by] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[code] [nvarchar](50) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplinary_Actions]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplinary_Actions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action_date] [date] NOT NULL,
	[level_code] [varchar](30) NOT NULL,
	[reason] [nvarchar](1000) NULL,
	[decided_by] [int] NULL,
	[related_request_id] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Divisions]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Divisions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employment_Statuses]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employment_Statuses](
	[status_code] [varchar](30) NOT NULL,
	[status_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[status_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[holiday_date] [date] NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[is_public] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hr_todos]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hr_todos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[assignee_id] [bigint] NULL,
	[due_date] [date] NULL,
	[status] [varchar](20) NOT NULL,
	[priority] [varchar](10) NULL,
	[tags] [nvarchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Job_Titles]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Job_Titles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title_code] [varchar](30) NOT NULL,
	[title_name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jobs]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[dept] [nvarchar](100) NULL,
	[status] [nvarchar](30) NOT NULL,
	[headcount] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime2](3) NOT NULL,
	[updated_at] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_paid] [bit] NOT NULL,
	[max_days_year] [int] NULL,
	[require_proof] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[body] [nvarchar](1000) NULL,
	[link_url] [nvarchar](500) NULL,
	[is_read] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payroll_items]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[run_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[base_salary] [decimal](12, 2) NOT NULL,
	[allowance] [decimal](12, 2) NULL,
	[ot_pay] [decimal](12, 2) NULL,
	[bonus] [decimal](12, 2) NULL,
	[penalty] [decimal](12, 2) NULL,
	[insurance] [decimal](12, 2) NULL,
	[tax] [decimal](12, 2) NULL,
	[net_pay] [decimal](12, 2) NOT NULL,
	[note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payroll_runs]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payroll_runs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[period_year] [int] NOT NULL,
	[period_month] [int] NOT NULL,
	[locked] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[recruit_jobs]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[recruit_jobs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[department_id] [bigint] NULL,
	[headcount] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[jd] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_Attachments]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_Attachments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[file_path] [nvarchar](500) NOT NULL,
	[uploaded_by] [int] NOT NULL,
	[uploaded_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request_History]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[action] [nvarchar](30) NOT NULL,
	[note] [nvarchar](4000) NULL,
	[acted_by] [int] NOT NULL,
	[acted_by_name] [nvarchar](255) NOT NULL,
	[acted_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[status] [varchar](30) NOT NULL,
	[reason] [nvarchar](1000) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by]  AS ([user_id]),
	[processed_by] [int] NULL,
	[manager_note] [nvarchar](1000) NULL,
	[leave_type_id] [int] NULL,
	[approved_by] [int] NULL,
	[approved_at] [datetime] NULL,
	[approve_note] [nvarchar](500) NULL,
	[title] [nvarchar](255) NULL,
	[deleted_at] [datetime] NULL,
	[from_date] [date] NULL,
	[to_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[code] [nvarchar](30) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shifts]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shifts](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[break_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support_Tickets]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support_Tickets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[user_name] [nvarchar](120) NULL,
	[email] [nvarchar](180) NULL,
	[title] [nvarchar](200) NOT NULL,
	[body] [nvarchar](max) NOT NULL,
	[tech_json] [nvarchar](max) NULL,
	[status] [varchar](20) NOT NULL,
	[created_at] [datetime2](3) NOT NULL,
	[handled_at] [datetime2](3) NULL,
	[handled_by] [int] NULL,
	[note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sys_Settings]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sys_Settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [varchar](120) NOT NULL,
	[setting_value] [nvarchar](2000) NULL,
	[data_type] [varchar](30) NOT NULL,
	[group_name] [varchar](60) NULL,
	[description] [nvarchar](500) NULL,
	[is_active] [bit] NOT NULL,
	[updated_by] [int] NULL,
	[updated_at] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[time_entries]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[time_entries](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[work_date] [date] NOT NULL,
	[shift_code] [nvarchar](16) NOT NULL,
	[check_in] [datetime2](7) NULL,
	[check_out] [datetime2](7) NULL,
	[late_minutes] [int] NOT NULL,
	[ot_minutes] [int] NOT NULL,
	[status] [nvarchar](16) NOT NULL,
	[notes] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[timesheets]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[timesheets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[year] [int] NOT NULL,
	[month] [int] NOT NULL,
	[work_days] [decimal](5, 2) NULL,
	[late_count] [int] NULL,
	[ot_hours] [decimal](6, 2) NULL,
	[leave_days] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Activity]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[action] [varchar](50) NOT NULL,
	[entity_type] [varchar](30) NULL,
	[entity_id] [int] NULL,
	[note] [nvarchar](1000) NULL,
	[ip_addr] [varchar](45) NULL,
	[user_agent] [nvarchar](400) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Contracts]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Contracts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[contract_no] [nvarchar](50) NOT NULL,
	[contract_type] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[base_salary] [decimal](18, 2) NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Leave_Balances]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Leave_Balances](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[leave_type_id] [int] NOT NULL,
	[year] [int] NOT NULL,
	[entitled_days] [decimal](5, 2) NOT NULL,
	[used_days] [decimal](5, 2) NOT NULL,
	[carried_days] [decimal](5, 2) NOT NULL,
	[last_updated] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role_History]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role_History](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[role_code] [nvarchar](30) NOT NULL,
	[start_at] [datetime2](7) NOT NULL,
	[end_at] [datetime2](7) NULL,
	[changed_by] [int] NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK_User_Role_History] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[role] [nvarchar](30) NOT NULL,
	[department] [nvarchar](50) NULL,
	[status] [tinyint] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[department_id] [int] NULL,
	[role_id] [int] NULL,
	[avatar_url] [nvarchar](255) NULL,
	[address] [nvarchar](255) NULL,
	[birthday] [date] NULL,
	[bio] [nvarchar](500) NULL,
	[employment_status_code] [varchar](30) NULL,
	[job_title_id] [int] NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
	[last_login] [datetime] NULL,
	[last_ip] [nvarchar](64) NULL,
	[deleted_at] [datetime] NULL,
	[join_date] [date] NULL,
	[contract_end] [date] NULL,
	[job_title] [nvarchar](100) NULL,
	[salary] [decimal](12, 2) NULL,
	[division_id] [int] NULL,
	[fullname] [nvarchar](150) NULL,
	[employment_type] [nvarchar](50) NULL,
	[manager_id] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_reports]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[report_date] [date] NOT NULL,
	[type] [varchar](10) NOT NULL,
	[summary] [nvarchar](max) NULL,
	[blockers] [nvarchar](max) NULL,
	[plan_next] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[work_todos]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work_todos](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[assignee_id] [bigint] NULL,
	[due_date] [date] NULL,
	[priority] [nvarchar](10) NULL,
	[status] [nvarchar](20) NOT NULL,
	[tags] [nvarchar](200) NULL,
	[note] [nvarchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Approver_Rules] ON 

INSERT [dbo].[Approver_Rules] ([id], [from_role], [to_role], [can_approve]) VALUES (1, N'STAFF', N'TEAM_LEAD', 1)
INSERT [dbo].[Approver_Rules] ([id], [from_role], [to_role], [can_approve]) VALUES (2, N'TEAM_LEAD', N'DIV_LEAD', 1)
INSERT [dbo].[Approver_Rules] ([id], [from_role], [to_role], [can_approve]) VALUES (3, N'DIV_LEAD', N'HR', 1)
SET IDENTITY_INSERT [dbo].[Approver_Rules] OFF
GO
INSERT [dbo].[Departments] ([code], [name], [is_active], [created_at]) VALUES (N'FIN', N'Finance', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
INSERT [dbo].[Departments] ([code], [name], [is_active], [created_at]) VALUES (N'HR', N'Human Resources', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
INSERT [dbo].[Departments] ([code], [name], [is_active], [created_at]) VALUES (N'IT', N'Information Technology', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Divisions] ON 

INSERT [dbo].[Divisions] ([id], [code], [name], [is_active], [created_at]) VALUES (1, N'IT', N'IT', 1, CAST(N'2025-11-04T02:15:07.417' AS DateTime))
INSERT [dbo].[Divisions] ([id], [code], [name], [is_active], [created_at]) VALUES (2, N'HR', N'HR', 1, CAST(N'2025-11-04T02:15:07.417' AS DateTime))
INSERT [dbo].[Divisions] ([id], [code], [name], [is_active], [created_at]) VALUES (3, N'SALE', N'Sales', 1, CAST(N'2025-11-04T02:15:07.417' AS DateTime))
SET IDENTITY_INSERT [dbo].[Divisions] OFF
GO
INSERT [dbo].[Employment_Statuses] ([status_code], [status_name], [is_active], [description], [created_at]) VALUES (N'ACTIVE', N'Đang làm việc', 1, NULL, CAST(N'2025-11-02T22:53:27.1343990' AS DateTime2))
INSERT [dbo].[Employment_Statuses] ([status_code], [status_name], [is_active], [description], [created_at]) VALUES (N'INTERN', N'Thực tập', 1, NULL, CAST(N'2025-11-02T22:53:27.1343990' AS DateTime2))
INSERT [dbo].[Employment_Statuses] ([status_code], [status_name], [is_active], [description], [created_at]) VALUES (N'OFFBOARDING', N'Đang bàn giao nghỉ việc', 1, NULL, CAST(N'2025-11-02T22:53:27.1343990' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[jobs] ON 

INSERT [dbo].[jobs] ([id], [title], [dept], [status], [headcount], [description], [created_at], [updated_at]) VALUES (1, N'Backend Engineer', N'Engineering', N'OPEN', 2, N'Java/Spring', CAST(N'2025-11-08T00:52:34.2100000' AS DateTime2), CAST(N'2025-11-08T00:52:34.2100000' AS DateTime2))
INSERT [dbo].[jobs] ([id], [title], [dept], [status], [headcount], [description], [created_at], [updated_at]) VALUES (2, N'HR Generalist', N'HR', N'OPEN', 1, N'HR ops & recruiting', CAST(N'2025-11-08T00:52:34.2100000' AS DateTime2), CAST(N'2025-11-08T00:52:34.2100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[jobs] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveTypes] ON 

INSERT [dbo].[LeaveTypes] ([id], [code], [name], [is_paid], [max_days_year], [require_proof], [is_active], [created_at]) VALUES (1, N'AL', N'Phép năm', 1, 12, 0, 1, CAST(N'2025-10-27T16:14:04.2021033' AS DateTime2))
INSERT [dbo].[LeaveTypes] ([id], [code], [name], [is_paid], [max_days_year], [require_proof], [is_active], [created_at]) VALUES (2, N'SL', N'Nghỉ ốm', 1, 7, 1, 1, CAST(N'2025-10-27T16:14:04.2021033' AS DateTime2))
INSERT [dbo].[LeaveTypes] ([id], [code], [name], [is_paid], [max_days_year], [require_proof], [is_active], [created_at]) VALUES (3, N'UL', N'Nghỉ không lương', 0, NULL, 0, 1, CAST(N'2025-10-27T16:14:04.2021033' AS DateTime2))
SET IDENTITY_INSERT [dbo].[LeaveTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([id], [user_id], [title], [body], [link_url], [is_read], [created_at]) VALUES (2, 1, N'1', N'1', N'1', 0, CAST(N'2025-11-09T06:04:59.7127948' AS DateTime2))
INSERT [dbo].[Notifications] ([id], [user_id], [title], [body], [link_url], [is_read], [created_at]) VALUES (3, 1, N'1', N'1', N'1', 0, CAST(N'2025-11-09T06:10:56.5590337' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[payroll_runs] ON 

INSERT [dbo].[payroll_runs] ([id], [period_year], [period_month], [locked], [created_at]) VALUES (1, 2025, 11, 0, CAST(N'2025-11-08T01:55:51.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[payroll_runs] OFF
GO
SET IDENTITY_INSERT [dbo].[Request_History] ON 

INSERT [dbo].[Request_History] ([id], [request_id], [action], [note], [acted_by], [acted_by_name], [acted_at]) VALUES (1, 1026, N'CREATED', NULL, 7, N'SYSTEM', CAST(N'2025-10-31T09:41:40.5824000' AS DateTime2))
INSERT [dbo].[Request_History] ([id], [request_id], [action], [note], [acted_by], [acted_by_name], [acted_at]) VALUES (2, 1027, N'CREATED', NULL, 1, N'SYSTEM', CAST(N'2025-11-03T20:32:15.7458709' AS DateTime2))
INSERT [dbo].[Request_History] ([id], [request_id], [action], [note], [acted_by], [acted_by_name], [acted_at]) VALUES (3, 1027, N'CANCELLED', NULL, 1, N'System Admi', CAST(N'2025-11-04T16:00:31.1324583' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Request_History] OFF
GO
SET IDENTITY_INSERT [dbo].[Requests] ON 

INSERT [dbo].[Requests] ([id], [user_id], [type], [status], [reason], [start_date], [end_date], [created_at], [updated_at], [processed_by], [manager_note], [leave_type_id], [approved_by], [approved_at], [approve_note], [title], [deleted_at], [from_date], [to_date]) VALUES (10, 10, N'ANNUAL', N'PENDING', N'Nghỉ phép năm về quê', CAST(N'2025-10-22' AS Date), CAST(N'2025-10-24' AS Date), CAST(N'2025-10-18T11:47:58.9829568' AS DateTime2), CAST(N'2025-11-04T02:08:29.9633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-22' AS Date), CAST(N'2025-10-24' AS Date))
INSERT [dbo].[Requests] ([id], [user_id], [type], [status], [reason], [start_date], [end_date], [created_at], [updated_at], [processed_by], [manager_note], [leave_type_id], [approved_by], [approved_at], [approve_note], [title], [deleted_at], [from_date], [to_date]) VALUES (11, 11, N'SICK', N'APPROVED', N'Nghỉ ốm có giấy', CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date), CAST(N'2025-10-18T11:47:59.0002610' AS DateTime2), CAST(N'2025-11-04T02:08:29.9633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-15' AS Date), CAST(N'2025-10-16' AS Date))
INSERT [dbo].[Requests] ([id], [user_id], [type], [status], [reason], [start_date], [end_date], [created_at], [updated_at], [processed_by], [manager_note], [leave_type_id], [approved_by], [approved_at], [approve_note], [title], [deleted_at], [from_date], [to_date]) VALUES (12, 12, N'UNPAID', N'REJECTED', N'Việc riêng chưa đủ lý do', CAST(N'2025-10-10' AS Date), CAST(N'2025-10-11' AS Date), CAST(N'2025-10-18T11:47:59.0058621' AS DateTime2), CAST(N'2025-11-04T02:08:29.9633333' AS DateTime2), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2025-10-10' AS Date), CAST(N'2025-10-11' AS Date))
SET IDENTITY_INSERT [dbo].[Requests] OFF
GO
INSERT [dbo].[Roles] ([code], [name], [is_active], [created_at]) VALUES (N'ADMIN', N'Administrator', 1, CAST(N'2025-10-16T18:09:05.0000000' AS DateTime2))
INSERT [dbo].[Roles] ([code], [name], [is_active], [created_at]) VALUES (N'DEPT_MANAGER', N'Department Manager', 1, CAST(N'2025-11-02T22:49:09.0000000' AS DateTime2))
INSERT [dbo].[Roles] ([code], [name], [is_active], [created_at]) VALUES (N'DIV_LEADER', N'Division Leader', 1, CAST(N'2025-10-18T11:47:59.0000000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Sys_Settings] ON 

INSERT [dbo].[Sys_Settings] ([id], [setting_key], [setting_value], [data_type], [group_name], [description], [is_active], [updated_by], [updated_at]) VALUES (1, N'site_name', N'Hệ thống quản lý nghỉ phép', N'string', N'System', N'Tên hiển thị trên header', 1, NULL, CAST(N'2025-11-03T00:30:14.0000000' AS DateTime2))
INSERT [dbo].[Sys_Settings] ([id], [setting_key], [setting_value], [data_type], [group_name], [description], [is_active], [updated_by], [updated_at]) VALUES (2, N'site_logo', N'https://example.com/logo.pn', N'string', N'System', N'Logo trên navbar', 1, 1, CAST(N'2025-11-09T12:11:18.0000000' AS DateTime2))
INSERT [dbo].[Sys_Settings] ([id], [setting_key], [setting_value], [data_type], [group_name], [description], [is_active], [updated_by], [updated_at]) VALUES (3, N'site_theme_color', N'#0F766E', N'string', N'System', N'Màu chủ đạo', 1, NULL, CAST(N'2025-11-03T00:30:14.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sys_Settings] OFF
GO
SET IDENTITY_INSERT [dbo].[time_entries] ON 

INSERT [dbo].[time_entries] ([id], [user_id], [work_date], [shift_code], [check_in], [check_out], [late_minutes], [ot_minutes], [status], [notes]) VALUES (1, 1, CAST(N'2025-11-08' AS Date), N'AFTERNOON', CAST(N'2025-11-08T15:24:29.7035431' AS DateTime2), CAST(N'2025-11-08T15:24:33.4432078' AS DateTime2), 84, 0, N'PRESENT', NULL)
SET IDENTITY_INSERT [dbo].[time_entries] OFF
GO
SET IDENTITY_INSERT [dbo].[User_Activity] ON 

INSERT [dbo].[User_Activity] ([id], [user_id], [action], [entity_type], [entity_id], [note], [ip_addr], [user_agent], [created_at]) VALUES (1, 7, N'APPROVE_REQUEST', N'REQUEST', 1023, N'Processed APPROVED', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0', CAST(N'2025-10-30T11:28:06.5308461' AS DateTime2))
INSERT [dbo].[User_Activity] ([id], [user_id], [action], [entity_type], [entity_id], [note], [ip_addr], [user_agent], [created_at]) VALUES (2, 7, N'APPROVE_REQUEST', N'REQUEST', 1022, N'Processed APPROVED', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0', CAST(N'2025-10-30T11:28:15.0872596' AS DateTime2))
INSERT [dbo].[User_Activity] ([id], [user_id], [action], [entity_type], [entity_id], [note], [ip_addr], [user_agent], [created_at]) VALUES (3, 7, N'APPROVE_REQUEST', N'REQUEST', 1021, N'Processed APPROVED', N'0:0:0:0:0:0:0:1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36 Edg/141.0.0.0', CAST(N'2025-10-30T11:28:53.7323037' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[User_Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_app_events_app_created]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_app_events_app_created] ON [dbo].[app_events]
(
	[app_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_attendance_user_date]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[attendance_records] ADD  CONSTRAINT [UQ_attendance_user_date] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[work_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [uq_user_date]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[attendance_records] ADD  CONSTRAINT [uq_user_date] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[work_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Divisions_Code]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Divisions_Code] ON [dbo].[Divisions]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Holidays]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[Holidays] ADD  CONSTRAINT [UQ_Holidays] UNIQUE NONCLUSTERED 
(
	[holiday_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Job_Titl__83A5B64F6AEE853F]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[Job_Titles] ADD UNIQUE NONCLUSTERED 
(
	[title_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_jobs_status_created]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_jobs_status_created] ON [dbo].[jobs]
(
	[status] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_LeaveTypes_Code]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_LeaveTypes_Code] ON [dbo].[LeaveTypes]
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__payroll___EFA4B1E3BA170B1D]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[payroll_runs] ADD UNIQUE NONCLUSTERED 
(
	[period_year] ASC,
	[period_month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Request_History_req]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Request_History_req] ON [dbo].[Request_History]
(
	[request_id] ASC,
	[acted_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_dates]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_dates] ON [dbo].[Requests]
(
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_from_to]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_from_to] ON [dbo].[Requests]
(
	[from_date] ASC,
	[to_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_status]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_status] ON [dbo].[Requests]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_Status_Dates]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_Status_Dates] ON [dbo].[Requests]
(
	[status] ASC,
	[start_date] ASC,
	[end_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_user]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Requests_user] ON [dbo].[Requests]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__shifts__357D4CF9D0457649]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[shifts] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_SysSettings_Key]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_SysSettings_Key] ON [dbo].[Sys_Settings]
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_time_entries_UserDateShift]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[time_entries] ADD  CONSTRAINT [UX_time_entries_UserDateShift] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[work_date] ASC,
	[shift_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__timeshee__73BA42628F8E2714]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[timesheets] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[year] ASC,
	[month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User_Activity_action]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Activity_action] ON [dbo].[User_Activity]
(
	[action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_User_Activity_user_time]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_User_Activity_user_time] ON [dbo].[User_Activity]
(
	[user_id] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_ULB]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[User_Leave_Balances] ADD  CONSTRAINT [UQ_ULB] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[leave_type_id] ASC,
	[year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Users_username]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UQ_Users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_ContractEnd]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_ContractEnd] ON [dbo].[Users]
(
	[contract_end] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_deleted_at]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_deleted_at] ON [dbo].[Users]
(
	[deleted_at] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Department]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Department] ON [dbo].[Users]
(
	[department] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_department_id]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_department_id] ON [dbo].[Users]
(
	[department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_division]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_division] ON [dbo].[Users]
(
	[division_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_division_id]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_division_id] ON [dbo].[Users]
(
	[division_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_manager_id]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_manager_id] ON [dbo].[Users]
(
	[manager_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Role]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Role] ON [dbo].[Users]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_role_id]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_role_id] ON [dbo].[Users]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Status_Type]    Script Date: 11/9/2025 11:17:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_Users_Status_Type] ON [dbo].[Users]
(
	[status] ASC,
	[employment_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__work_rep__06E234B0EDAB6796]    Script Date: 11/9/2025 11:17:40 PM ******/
ALTER TABLE [dbo].[work_reports] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[report_date] ASC,
	[type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[app_events] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[application_events] ADD  DEFAULT (sysutcdatetime()) FOR [event_time]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT ('APPLIED') FOR [stage]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT ((0)) FOR [score]
GO
ALTER TABLE [dbo].[applications] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Approval_Delegations] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Approver_Rules] ADD  DEFAULT ((1)) FOR [can_approve]
GO
ALTER TABLE [dbo].[attendance_records] ADD  DEFAULT ((0)) FOR [late_minutes]
GO
ALTER TABLE [dbo].[attendance_records] ADD  DEFAULT ((0)) FOR [early_minutes]
GO
ALTER TABLE [dbo].[attendance_records] ADD  DEFAULT ((0)) FOR [ot_minutes]
GO
ALTER TABLE [dbo].[attendance_records] ADD  DEFAULT ('PRESENT') FOR [status]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Departments] ADD  CONSTRAINT [DF_Departments_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Disciplinary_Actions] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Divisions] ADD  CONSTRAINT [DF_Divisions_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Divisions] ADD  CONSTRAINT [DF_Divisions_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Employment_Statuses] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Employment_Statuses] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT ((1)) FOR [is_public]
GO
ALTER TABLE [dbo].[Holidays] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[hr_todos] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[hr_todos] ADD  DEFAULT ('MED') FOR [priority]
GO
ALTER TABLE [dbo].[hr_todos] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Job_Titles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Job_Titles] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (N'OPEN') FOR [status]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT ((1)) FOR [headcount]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[jobs] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [is_paid]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((0)) FOR [require_proof]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[LeaveTypes] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT ((0)) FOR [allowance]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT ((0)) FOR [ot_pay]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT ((0)) FOR [bonus]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT ((0)) FOR [penalty]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT ((0)) FOR [insurance]
GO
ALTER TABLE [dbo].[payroll_items] ADD  DEFAULT ((0)) FOR [tax]
GO
ALTER TABLE [dbo].[payroll_runs] ADD  DEFAULT ((0)) FOR [locked]
GO
ALTER TABLE [dbo].[payroll_runs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[recruit_jobs] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[recruit_jobs] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Request_Attachments] ADD  DEFAULT (sysdatetime()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[Request_History] ADD  DEFAULT (sysdatetime()) FOR [acted_at]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[shifts] ADD  DEFAULT ((60)) FOR [break_minutes]
GO
ALTER TABLE [dbo].[Support_Tickets] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[Support_Tickets] ADD  CONSTRAINT [DF_SupportTickets_created]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[Sys_Settings] ADD  DEFAULT ('string') FOR [data_type]
GO
ALTER TABLE [dbo].[Sys_Settings] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Sys_Settings] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[time_entries] ADD  DEFAULT ((0)) FOR [late_minutes]
GO
ALTER TABLE [dbo].[time_entries] ADD  DEFAULT ((0)) FOR [ot_minutes]
GO
ALTER TABLE [dbo].[time_entries] ADD  DEFAULT (N'PRESENT') FOR [status]
GO
ALTER TABLE [dbo].[timesheets] ADD  DEFAULT ((0)) FOR [work_days]
GO
ALTER TABLE [dbo].[timesheets] ADD  DEFAULT ((0)) FOR [late_count]
GO
ALTER TABLE [dbo].[timesheets] ADD  DEFAULT ((0)) FOR [ot_hours]
GO
ALTER TABLE [dbo].[timesheets] ADD  DEFAULT ((0)) FOR [leave_days]
GO
ALTER TABLE [dbo].[User_Activity] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Contracts] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT ((0)) FOR [entitled_days]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT ((0)) FOR [used_days]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT ((0)) FOR [carried_days]
GO
ALTER TABLE [dbo].[User_Leave_Balances] ADD  DEFAULT (sysdatetime()) FOR [last_updated]
GO
ALTER TABLE [dbo].[User_Role_History] ADD  CONSTRAINT [DF_User_Role_History_start_at]  DEFAULT (sysdatetime()) FOR [start_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_status]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_created_at]  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[work_reports] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[work_todos] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[work_todos] ADD  DEFAULT (sysdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[work_todos] ADD  DEFAULT (sysdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[app_events]  WITH CHECK ADD  CONSTRAINT [FK_events_app] FOREIGN KEY([app_id])
REFERENCES [dbo].[applications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[app_events] CHECK CONSTRAINT [FK_events_app]
GO
ALTER TABLE [dbo].[application_events]  WITH CHECK ADD FOREIGN KEY([app_id])
REFERENCES [dbo].[applications] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[applications]  WITH CHECK ADD FOREIGN KEY([job_id])
REFERENCES [dbo].[recruit_jobs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Approval_Delegations]  WITH CHECK ADD  CONSTRAINT [FK_AD_FromUser] FOREIGN KEY([from_user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Approval_Delegations] CHECK CONSTRAINT [FK_AD_FromUser]
GO
ALTER TABLE [dbo].[Approval_Delegations]  WITH CHECK ADD  CONSTRAINT [FK_AD_ToUser] FOREIGN KEY([to_user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Approval_Delegations] CHECK CONSTRAINT [FK_AD_ToUser]
GO
ALTER TABLE [dbo].[Disciplinary_Actions]  WITH CHECK ADD  CONSTRAINT [FK_DA_Decider] FOREIGN KEY([decided_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Disciplinary_Actions] CHECK CONSTRAINT [FK_DA_Decider]
GO
ALTER TABLE [dbo].[Disciplinary_Actions]  WITH CHECK ADD  CONSTRAINT [FK_DA_Request] FOREIGN KEY([related_request_id])
REFERENCES [dbo].[Requests] ([id])
GO
ALTER TABLE [dbo].[Disciplinary_Actions] CHECK CONSTRAINT [FK_DA_Request]
GO
ALTER TABLE [dbo].[Disciplinary_Actions]  WITH CHECK ADD  CONSTRAINT [FK_DA_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Disciplinary_Actions] CHECK CONSTRAINT [FK_DA_User]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Noti_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Noti_User]
GO
ALTER TABLE [dbo].[payroll_items]  WITH CHECK ADD FOREIGN KEY([run_id])
REFERENCES [dbo].[payroll_runs] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_RA_Request] FOREIGN KEY([request_id])
REFERENCES [dbo].[Requests] ([id])
GO
ALTER TABLE [dbo].[Request_Attachments] CHECK CONSTRAINT [FK_RA_Request]
GO
ALTER TABLE [dbo].[Request_Attachments]  WITH CHECK ADD  CONSTRAINT [FK_RA_User] FOREIGN KEY([uploaded_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Request_Attachments] CHECK CONSTRAINT [FK_RA_User]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_LeaveTypes] FOREIGN KEY([leave_type_id])
REFERENCES [dbo].[LeaveTypes] ([id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_LeaveTypes]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users_ProcessedBy] FOREIGN KEY([processed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users_ProcessedBy]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [FK_Requests_Users_userid] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [FK_Requests_Users_userid]
GO
ALTER TABLE [dbo].[User_Activity]  WITH CHECK ADD  CONSTRAINT [FK_User_Activity_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Activity] CHECK CONSTRAINT [FK_User_Activity_Users]
GO
ALTER TABLE [dbo].[User_Contracts]  WITH CHECK ADD  CONSTRAINT [FK_UC_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Contracts] CHECK CONSTRAINT [FK_UC_User]
GO
ALTER TABLE [dbo].[User_Leave_Balances]  WITH CHECK ADD  CONSTRAINT [FK_ULB_Type] FOREIGN KEY([leave_type_id])
REFERENCES [dbo].[LeaveTypes] ([id])
GO
ALTER TABLE [dbo].[User_Leave_Balances] CHECK CONSTRAINT [FK_ULB_Type]
GO
ALTER TABLE [dbo].[User_Leave_Balances]  WITH CHECK ADD  CONSTRAINT [FK_ULB_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Leave_Balances] CHECK CONSTRAINT [FK_ULB_User]
GO
ALTER TABLE [dbo].[User_Role_History]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_History_ChangedBy] FOREIGN KEY([changed_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Role_History] CHECK CONSTRAINT [FK_User_Role_History_ChangedBy]
GO
ALTER TABLE [dbo].[User_Role_History]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_History_Role] FOREIGN KEY([role_code])
REFERENCES [dbo].[Roles] ([code])
GO
ALTER TABLE [dbo].[User_Role_History] CHECK CONSTRAINT [FK_User_Role_History_Role]
GO
ALTER TABLE [dbo].[User_Role_History]  WITH CHECK ADD  CONSTRAINT [FK_User_Role_History_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[User_Role_History] CHECK CONSTRAINT [FK_User_Role_History_User]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_CreatedBy] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_CreatedBy]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Department] FOREIGN KEY([department])
REFERENCES [dbo].[Departments] ([code])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Department]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Divisions] FOREIGN KEY([division_id])
REFERENCES [dbo].[Divisions] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Divisions]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_EmploymentStatus] FOREIGN KEY([employment_status_code])
REFERENCES [dbo].[Employment_Statuses] ([status_code])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_EmploymentStatus]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_JobTitles] FOREIGN KEY([job_title_id])
REFERENCES [dbo].[Job_Titles] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_JobTitles]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Role] FOREIGN KEY([role])
REFERENCES [dbo].[Roles] ([code])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Role]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_UpdatedBy] FOREIGN KEY([updated_by])
REFERENCES [dbo].[Users] ([id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_UpdatedBy]
GO
ALTER TABLE [dbo].[Request_History]  WITH CHECK ADD CHECK  (([action]='COMMENT' OR [action]='CANCELLED' OR [action]='REJECTED' OR [action]='APPROVED' OR [action]='UPDATED' OR [action]='CREATED'))
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD  CONSTRAINT [CK_Requests_Status] CHECK  (([status]='cancelled' OR [status]='rejected' OR [status]='approved' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Requests] CHECK CONSTRAINT [CK_Requests_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_set_setting]    Script Date: 11/9/2025 11:17:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4) Proc set/update nhanh (để servlet gọi)
CREATE   PROCEDURE [dbo].[sp_set_setting]
    @key        VARCHAR(120),
    @value      NVARCHAR(2000),
    @data_type  VARCHAR(30) = 'string',
    @group_name VARCHAR(60) = NULL,
    @user_id    INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM dbo.Sys_Settings WHERE setting_key = @key)
    BEGIN
        UPDATE dbo.Sys_Settings
        SET setting_value = @value,
            data_type     = @data_type,
            group_name    = ISNULL(@group_name, group_name),
            updated_by    = @user_id,
            updated_at    = SYSDATETIME()
        WHERE setting_key = @key;
    END
    ELSE
    BEGIN
        INSERT INTO dbo.Sys_Settings
            (setting_key, setting_value, data_type, group_name, updated_by)
        VALUES
            (@key, @value, @data_type, @group_name, @user_id);
    END
END
GO
USE [master]
GO
